<div class="container">
    <div class="form-container">
      <h1 class="text-center">Editar Zapatilla</h1>
      <form action="/zapatilla/u" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="id-nombre">Nombre</label>
          <input id="id-nombre" type="text" name="nombre" th:value="${zapatilla.nombre}" class="form-control" />
        </div>
        <div class="form-group">
          <label for="id-marcas">Seleccione una marca:</label>
          <select id="id-marcas" name="idMarca" required class="form-control">
            <option 
              th:each="marca:${marcas}"
              th:text="${marca.nombre}"
              th:value="${marca.id}">
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="id-modelo">Seleccione un modelo:</label>
          <select id="id-modelo" name="idModelo" required class="form-control">
            <option 
              th:each="modelo:${modelos}"
              th:text="${modelo.nombre}"
              th:value="${modelo.id}">
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="id-precio">Precio</label>
          <input id="id-precio" type="text" name="precio" th:value="${zapatilla.precio}" class="form-control" />
        </div>
        <div class="form-group">
          <label for="id-color">Color</label>
          <input id="id-color" type="text" name="color" th:value="${zapatilla.color}" class="form-control" />
        </div>
        <div class="form-group">
          <label for="id-talla">Talla</label>
          <input id="id-talla" type="text" name="talla" th:value="${zapatilla.talla}" class="form-control" />
        </div>
        <div class="form-group">
          <label for="id-stock">Stock</label>
          <input id="id-stock" type="text" name="stock" th:value="${zapatilla.stock}" class="form-control" />
        </div>
        <div class="form-group">
          <label for="id-imagen">Imagen</label>
          <input id="id-imagen" type="file" name="imagenZapatilla" accept=".jpg,.jpeg,.png" class="form-control-file" />
        </div>
        <input type="hidden" name="idZapatilla" th:value="${zapatilla.id}" />
        <div class="form-buttons text-center mt-4">
          <input type="submit" class="btn btn-primary btn-space">
          <button type="button" class="btn btn-secondary" onclick="window.location.href='/zapatilla/r'">Cancelar</button>
        </div>
      </form>
    </div>
  </div>